* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 67, 165);
  color: #ccc;
  font-family: sans-serif;
  padding: 1rem 1rem;
  margin: 1rem 1rem;

  /* Saas is a built-in Feature, we don't need to install it anymore as npm i sass  */
  h1 {
    color: rgb(224, 224, 149);
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  h3 {
    color: rgb(13, 218, 81);
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .germanNouns {
    background-color: #222;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;

    img {
      width: 3rem;
    }

    .singular {
      color: rgb(228, 179, 87);
    }

    .plural {
      color: rgb(224, 149, 223);
    }
  }
}
